extends layout

block content
	h1 #{title}
	
	form(method='POST' action='')
		div.form-group
			if errors
				ul.alert.alert-danger
					for error in errors
						li.mb-0!= error.msg
			label(for='name') #[h5 Category:]
			input#name.form-control.mb-3(type='text', placeholder='Cricket, Baseball etc.' name='name' value=(undefined===category ? '' : category.name))
			label(for='description') #[h5 Description:]
			textarea#description.form-control(type='textarea', placeholder='About category...' name='description' value=(undefined===category ? '' : category.description))
			button.btn.btn-primary.mt-3(type='submit') Submit
